li:nth-child(1) .num {
  background-position: 0px -55px;
}

li:nth-child(2) .num {
  background-position: -40px -55px;
}

li:nth-child(3) .num {
  background-position: -80px -55px;
}

li:nth-child(4) .num {
  background-position: -120px -55px;
}

li:nth-child(5) .num {
  background-position: -160px -55px;
}

.module-4 {
  content: "4";
}

.module-3 {
  content: "3";
}

.module-2 {
  content: "2";
}

.module-1 {
  content: "1";
}

.p1 {
  padding-left: 10px;
}

.p2 {
  padding-left: 20px;
}

.p3 {
  padding-left: 30px;
}

.foo:nth-of-type(1) {
  border-color: #bf8c40;
}

.foo:nth-of-type(2) {
  border-color: #a6bf40;
}

.foo:nth-of-type(3) {
  border-color: #59bf40;
}

.foo:nth-of-type(4) {
  border-color: #40bf73;
}

.foo:nth-of-type(5) {
  border-color: #40bfbf;
}

.foo:nth-of-type(6) {
  border-color: #4073bf;
}

.foo:nth-of-type(7) {
  border-color: #5940bf;
}

.foo:nth-of-type(8) {
  border-color: #a640bf;
}

.foo:nth-of-type(9) {
  border-color: #bf408c;
}

.foo:nth-of-type(10) {
  border-color: #bf4040;
}

.icon-save {
  background-image: url("/images/save.png");
}

.icon-cancel {
  background-image: url("/images/cancel.png");
}

.icon-help {
  background-image: url("/images/help.png");
}
