// todo nested 
div{
     h2{
          span{
               color:red;
          }
     }
}
h2 {
     &:hover {
         color: #CD746A;
     }
 

     &::before {
      position:absolute;
   }
   &::after {
      position:absolute;
   }
}












body {
     article {
         p {
             font-size: 100%;
             color: black;
             padding: 10px;
 
             @media (max-width: 768px) {
                 font-size: 150%; // use larger text for smaller screens
             }
         }
     }
 }

